<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Calculator</title>
</head>
<body>
<h1>Welcome to the Calculator!!!!</h1>
<form action="/doTheMath" method="post">
		<input required type="number" name="numberOne" > <select name="operator">
			<option>+</option>
			<option>- </option>
			<option>*</option>
			<option>/</option>
			<option>^</option>
			<option>rt</option>
			<option>log</option>
		</select>

<input  type="number" name="numberTwo" required>

<button>Lets see it!</button>
</form>
</table>
	<table>
	<tbody>
	<tr>
	<form action="sin" method="post">
	<button>sin</button>
	</form>
	<form action="cos" method="post">
	<button>cos</button>
	</form>
	<form action="tan" method="post">
	<button>tan</button>
	</form>
	</tr>
	<tr>
<form action="" method="post">
<button>Clear the memory</button>
</form>
<form action="" method="post">
<button>Add to memory</button>
</form>
</tr>
<tr>
<form action="" method="post">
<button>Subtract from memory</button>
</form>
<form action="" method="post">
<button>Print from memory</button>
</form>
</tr>
</tbody>
</table>
<form action="/typeRandom" method="post">
<input type="text" name="customFormula" > 
<button>Enter your own formula</button>
</form>
</body>
</html>

